<div class="container">
    <div class="card-deck mt-4">
        {{#each plots as |plot|}}
        <div class="card">
            <div class="card-body">
                <div class="card-title"><a href="/plotdetails/{{plot.id}}">{{plot.name}}</a></div>
                <div class="card-text">
                    {{plot.description}}
                </div>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Edit</button>
                <button class="btn btn-danger" data-id="{{plot.id}}">Delete</button>
                <div class="modal fade" id="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="update-plot-form">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" id="name" class="form-control" value="{{plot.name}}">
                                <label for="descritpion" class="form-label">Description</label>
                                <textarea type="text" id="description"
                                    class="form-control">{{plot.description}}</textarea>
                                <label for="location" class="form-label">Location</label>
                                <input type="text" id="location" class="form-control" value="{{plot.location}}">
                                <label for="characters" class="form-label">Characters</label>
                                <input type="text" id="characters" class="form-control" value="{{plot.characters}}">
                                <label for="conflict" class="form-label">Conflict</label>
                                <textarea type="text" id="conflict" class="form-control">{{plot.conflict}}</textarea>
                                <label for="payoff" class="form-label">Payoff</label>
                                <textarea type="text" id="payoff" class="form-control">{{plot.payoff}}</textarea>
                                <label class="form-label" for="customFile">Default file input example</label>
                                <input type="file" class="form-control" id="customFile" />
                                <button class="update-plot btn btn-primary" data-id="{{plot.id}}">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{{plot.image}}" alt="{{plot.name}} image" class="card-img-bottom">
        </div>
        {{/each}}
    </div>
</div>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-plot">New Plot</button>
<div class="modal fade" id="new-plot">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name-create" class="form-control">
                <label for="descritpion" class="form-label">Description</label>
                <textarea type="text" id="description-create" class="form-control"></textarea>
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location-create" class="form-control">
                <label for="characters" class="form-label">Characters</label>
                <input type="text" id="characters-create" class="form-control">
                <label for="conflict" class="form-label">Conflict</label>
                <textarea type="text" id="conflict-create" class="form-control"></textarea>
                <label for="payoff" class="form-label">Payoff</label>
                <textarea type="text" id="payoff-create" class="form-control"></textarea>
                <label class="form-label" for="customFile">Image</label>
                <input type="file" class="form-control" id="customFile-create" />
                <button class="new-plot btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{{!-- </div> --}}
<script type="module" src="./js/dashboard.js"></script>