<div class="container">
    <div class="card-deck mt-4">
        {{#each locations as |location|}}
        <div class="card">
            <div class="card-body">
                <div class="card-title"><a href="/location/{{location.id}}">{{location.name}}</a></div>
                <div class="card-text">
                    {{location.description}}
                </div>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Edit</button>
                <button class="location-delete btn btn-danger" data-id="{{location.id}}">Delete</button>
                <div class="modal" id="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="update-location-form">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" id="name" class="form-control" value="{{location.name}}">
                                <label for="descritpion" class="form-label">Description</label>
                                <textarea type="text" id="description" class="form-control"
                                    value="{{location.description}}">{{location.description}}</textarea>
                                <label for="biome" class="form-label">Biome</label>
                                <input type="text" id="biome" class="form-control" value="{{location.biome}}">
                                <label for="places-of-interest" class="form-label">Places of Interest</label>
                                <textarea type="text" id="places-of-interest" class="form-control"
                                    value="{{location.places_of_interest}}">{{location.places_of_interest}}</textarea>
                                <label for="history" class="form-label">History</label>
                                <textarea type="text" id="history" class="form-control"
                                    value="{{location.history}}">{{location.history}}</textarea>
                                <label class="form-label" for="customFile">Default file input example</label>
                                <input type="file" class="form-control" id="customFile" />
                                <button class="update-location btn btn-primary" data-id="{{location.id}}">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <img src="{{location.image}}" alt="{{location.name}} image" class="card-img-bottom"> --}}
        </div>
        {{/each}}
    </div>
</div>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-location">New Location</button>
<div class="modal fade" id="new-location">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name-create" class="form-control">
                <label for="descritpion" class="form-label">Description</label>
                <textarea type="text" id="description-create" class="form-control"></textarea>
                <label for="biome" class="form-label">Biome</label>
                <input type="text" id="biome-create" class="form-control">
                <label for="places-of-interest" class="form-label">Places of Interest</label>
                <input type="text" id="places-of-interest-create" class="form-control">
                <label for="history" class="form-label">History</label>
                <textarea type="text" id="history-create" class="form-control"></textarea>
                <label class="form-label" for="customFile">Image</label>
                <input type="file" class="form-control" id="customFile-create" />
                <button class="new-location btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</div>
<script src="./js/locations.js"></script>